.Config {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap; }
  .Config .user-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-right: 80px; }
    .Config .user-list .user-item {
      display: flex;
      justify-content: space-between;
      background-color: white;
      color: #999;
      border: 2px solid #a1cfc4;
      padding: 8px 14px;
      cursor: pointer;
      border-radius: 3px;
      margin-top: -1px;
      margin-bottom: -1px;
      font-size: 16px;
      outline: none;
      width: 100%; }
      .Config .user-list .user-item:hover, .Config .user-list .user-item.active {
        background-color: #a1cfc4;
        color: white;
        outline: none; }
    .Config .user-list .user-add {
      flex-direction: column;
      align-items: center;
      font-size: 18px; }
    .Config .user-list .reset {
      border: 1px solid #df4f4f;
      background: #ea8b8b;
      color: white;
      padding: 10px;
      margin-top: 40px;
      border-radius: 10px;
      cursor: pointer; }
      .Config .user-list .reset svg {
        margin-right: 6px; }
  .Config .user-details .name input {
    border: 1px solid #a1cfc4;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin: 18px; }
  .Config .user-details .lang .lang-checkboxes {
    margin-left: 100px; }
  .Config .user-details .timepicker {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto; }
    .Config .user-details .timepicker th.cell-head {
      text-align: center;
      background-color: #ea8b8b;
      color: white;
      font-size: 14px;
      padding: 6px; }
    .Config .user-details .timepicker tbody tr td.cell {
      text-align: center;
      background-color: #f6f6f6;
      color: #999;
      padding: 6px;
      line-height: 22px; }
      .Config .user-details .timepicker tbody tr td.cell.time {
        width: 80px;
        background-color: white; }
      .Config .user-details .timepicker tbody tr td.cell.cell-time {
        background-color: white;
        cursor: pointer; }
      .Config .user-details .timepicker tbody tr td.cell.available {
        background-color: #a1cfc4;
        color: white; }
    .Config .user-details .timepicker tbody tr td.cell-lunch {
      background-color: #ea8b8b;
      text-align: center; }
